GITHUB_TEXT_MODEL_ID="gpt-4o"
GITHUB_EMBEDDING_MODEL_ID="openai/text-embedding-ada-002"
GITHUB_MODELS_BASE_URL="https://models.inference.ai.azure.com"
GITHUB_TOKEN=""
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"